{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="home-wrapper">
    <div class="home-content">
        <div class="home-text">
            <p>서로의 바쁜 일상 속에서도,</p>
            <p>우리의 만남은 잊히지 않도록</p>
            <p><strong>Togelendar</strong>에서 약속을 쉽게 만들고,</p>
            <p>소중히 간직하세요.</p>
        </div>
    </div>
</div>

<style>
    .home-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: calc(100vh - 80px);
        padding: 40px;
        position: relative;
    }

    .home-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        text-align: center;
        gap: 30px;
        max-width: 1000px;
        width: 100%;
        position: relative;
        top: -150px;
    }
    
    .home-text {
        max-width: 540px;
        font-size: 1.4rem;
        line-height: 2.2rem;
        color: #333;
    }

    .home-text strong {
        color: black;
    }

    
</style>
{% endblock %}
