asgiref==3.8.1
certifi==2025.4.26
Django==5.2.1
django-resized==1.0.3
elastic-transport==8.17.1
elasticsearch==8.18.0
pillow==11.2.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.13.2
urllib3==2.4.0
asgiref==3.8.1
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
cryptography==45.0.4
Django==5.2.1
django-allauth==65.9.0
django-resized==1.0.3
elastic-transport==8.17.1
elasticsearch==8.18.0
geopandas==1.0.1
idna==3.10
networkx==3.4.2
numpy==2.2.6
osmnx==2.0.3
packaging==25.0
pandas==2.2.3
pillow==11.2.1
pycparser==2.22
PyJWT==2.10.1
pyogrio==0.11.0
pyproj==3.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2025.2
requests==2.32.3
shapely==2.1.1
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
