<nav class="custom-navbar">
  <div class="navbar-container">
    <a class="logo" href="{% url 'index:index' %}">Togelendar</a>
    <div class="nav-links">
        {% if user.is_authenticated %}
          <a href="{% url 'mypage:mypage' request.user.username %}" class="auth-link">{{user}}</a>
          <a href="{% url 'account:logout' %}" class="auth-logout">로그아웃</a>
          {% else %}
          <a href="{% url 'account:login' %}" class="auth-login">로그인</a>
          <a href="{% url 'account:signup' %}" class="auth-link">회원가입</a>
        {% endif %}
    </div>
  </div>
</nav>

<style>
  .custom-navbar {
    width: 100%;
    padding: 20px 40px;
    /* background-color: rgba(255, 195, 255, 0.3); */
    position: relative;
    z-index: 10;
  }

  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: #111;
    text-decoration: none;
  }

  .nav-links {
    display: flex;
    gap: 12px;
    align-items: center;
  }
  
  .auth-link {
    color: black;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
  }

  .auth-login {
    padding: 4px 12px;
    background-color: #A39F95;
    font-size: 1.1rem;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    font-weight: bold;
  }

  .auth-logout {
    padding: 4px 12px;
    background-color: #A39F95;
    font-size: 1.1rem;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    font-weight: bold;
  }

  .auth-button:hover,
  .auth-link.hover {
    opacity: 0.7;
  }
</style>